@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */
div > .match,
p > .match {
  color: rgb(190, 8, 8);
  background-color: rgb(209 250 229 / var(--tw-bg-opacity));
  padding: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}
